<form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
  <div class="col-sm-7 mx-auto mt-5">

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">餐廳名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" name="name"
          value="{{restaurant.name}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">餐廳類別</label>
      <div class="col-sm-10">
        <input type="text" name="category" class="form-control form-control-lg" placeholder="範例: 中東料理、義式料理、日式料理... "
          value="{{restaurant.category}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">地址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" name="location"
          value="{{restaurant.location}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Google Map 網址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg"
          placeholder="範例: https://goo.gl/maps/BJdmLuVdDbw" name="google_map" value="{{restaurant.google_map}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">店內電話</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" name="phone"
          value="{{restaurant.phone}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">照片</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg"
          placeholder="範例: 照片來源:https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5628/02.jpg" name="image"
          value="{{restaurant.image}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">星星評價</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="" name="rating"
          value="{{restaurant.rating}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="exampleFormControlTextarea1" class="col-sm-2 form-label col-form-label-lg">餐廳簡介</label>
      <textarea class="form-control form-control-lg col-sm-10" id="exampleFormControlTextarea1" rows="3"
        placeholder="簡單介紹餐廳特色" name="description">{{restaurant.description}}</textarea>
    </div>

    <div class="d-flex mt-5 mb-3 justify-content-center">
      <button class="btn btn-primary btn-lg" type="submit">修改</button>
    </div>

  </div>

</form>